
.logo-c {
    /*margin-top: 40%;*/
    margin:auto;
    width: 300px;
    height: 0px;
    
}

.logo {
    margin-top: 40%;
    position: relative;
    width: 300px;
    /*width: 75%;*/
    /*opacity: 0.8; */
   
    /*padding: 64px;*/
    /*background-color: rgba( 33,33,33, .85);*/
}


.wrapper{
    background-color: rgba( 33,33,33, .85);
    background-blend-mode: darken;  
    height: 100%;
    /*position: fixed;*/
}

.cta-c {
    /*background-color: rgba( 33,33,33, .85);
    background-blend-mode: darken;  */
    bottom: 64px;
    position: absolute;
    color: #fff;
    left: 25%;
    right: 25%;
    
  
}

.cta {
    text-align: center;
  /*margin-left: auto;
    margin-right: auto;
    width: 200px;*/
}

.btn-c {
     padding: 16px;
}

.material-btn{
    display: inline-block;
    padding: 16px;
}

.bootstrap-btn{
    display: inline-block;
    padding: 16px;
    cursor: pointer;
}


